<main>
    <h1>Sobre el proyecto</h1>

    <article class="descripcion">
        <p>
            El proyecto es una aplicación de practica creada para dominar tecnologías reactivas modernas en Angular con
            RxJS. <br><br>
            Es un CRUD completo sobre datos de clientes (Nombre, apellido, dirección) que demuestra buenas prácticas en
            estado reactivo, pone énfasis en patrones RxJS, asi como formularios reactivos y consumo de API REST con
            Firebase Realtime Database, todo con componentes standalone y diseño adaptable.
        </p>
    </article>
    <article class="funciones">
        <h2>Funciones</h2>
        <ul>
            <li>Angular v19 (Standalone), usa una arquitectura modular, sin NgModules innecesarios.</li>
            <li>RxJS, uso de tap, map, pipe, BehaviorSubject, Observable para el manejo de estado y errores.</li>
            <li>Reactive Forms para validaciones dinámicas y control de estado.</li>
            <li>Firebase Realtime Data base para el consumo y envió de datos con API REST</li>
            <li>Responsive y Adaptive design para una buena experiencia en todos los dispositivos.</li>
            <li>Responsive y Adaptive design para una buena experiencia en todos los dispositivos.</li>
        </ul>
    </article>
</main>